'name': 'Rockerfile'
'fileTypes': ['Rockerfile']
'patterns': [
  {
    'match': '^\\s*(MAINTAINER|FROM)\\s.*',
    'captures':
      '1':
        'name': 'keyword.control.rockerfile'
  }
  {
    'match': '^\\s*(ONBUILD\\s+)?(RUN|EXPOSE|ENV|ADD|COPY|VOLUME|USER|WORKDIR|CMD|ENTRYPOINT|LABEL|ARG|STOPSIGNAL|MOUNT|IMPORT|EXPORT|TAG|PUSH|ATTACH)\\s'
    'captures':
      '0':
        'name': 'keyword.control.rockerfile'
      '1':
        'name': 'keyword.other.special-method.rockerfile'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.rockerfile'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escaped.rockerfile'
      }
    ]
  }
  {
    'begin': '\''
    'end': '\''
    'name': 'string.quoted.single.rockerfile'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escaped.rockerfile'
      }
    ]
  }
  {
    'match': '^\\s*#.*$'
    'name': 'comment.block.rockerfile'
  }
]
'scopeName': 'source.rockerfile'
